<section data-ng-controller="ContribuyentesController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="contribuyente.name"></h1>
	</div>	
    <table class="table table-striped table-hover table-bordered">
        <tr>
            <th class="text-center col-sm-2" >Tipo</th>
            <th class="text-center col-sm-2" >Anio</th>
            <th class="text-center col-sm-2" >Valor</th>            
        </tr>        
        <tr ng-repeat="pago in pagos">
            <td class="text-center col-sm-2">{{pago.tipo}}</td>
            <td class="text-center col-sm-2">{{pago.anio}}</td>
            <td class="text-center col-sm-2">{{pago.valor}}</td>            
        </tr>
    </table>
</section>
