.categoriaProyecto{
	color:#797979;
	text-decoration: underline;
}

.tituloProyecto{
	font-weight: bold;
	color:#000000;
	font-size: small;
}

.descripcionProyecto{
	font-weight: normal;
	color:#777777;
	font-size: small;
	font-family: "Tahoma", "Geneva", sans-serif;;
}

.fechaProyecto{
	font-weight: normal;
	color:#777777;	
	font-size: x-small;
}

.textoGrande{
	font-size: xx-large; 
	color:#000000;
}

.fondoGris{
	background:#FFFFFF;
	color:#000000; 	
}

.titulos{
	background:#FFFFFF;
	color:#000000; 
}

.descripcionActualizacion{
	font-weight: normal;
	color:#777777;
	font-size: small;
	font-family: "Tahoma", "Geneva", sans-serif;;
}
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: white;
    cursor: inherit;
    display: block;
}