<section class="row" data-ng-controller="SettingsController" ng-init="buscaContribuyentes()">
	<h3 class="col-md-12 text-center">Relacionar Contribuyente</h3>
	<div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">
		<form data-ng-submit="asignaContribuyente()" class="signin form-horizontal" autocomplete="off">
		<div class="form-group">
			<fieldset>			                    
                <ui-select ng-model="contribuyente.selected" style="width: 300px;">
                    <ui-select-match placeholder="Escoga un contribuyente...">{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="contribuyente in contribuyentes | filter: $select.search">
                        <span ng-bind-html="contribuyente.name | highlight: $select.search"></span>
                    </ui-select-choices>
                </ui-select>                                   
			</fieldset>
			</div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
		</form>
	</div>
</section>